html{
  scroll-behavior: smooth;
}
body{

  margin: 0;
  padding: 0;
}
section{
  width: 100%;
  height: 300vh;
  background: url(index.html) no-repeat;
  background-size: cover;
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
