body {
    margin: 0;
    padding: 0;
    
}
.wrapper {
    height: 100px;
   
}
.txt {
    color: #ffffff;
    background:#FF2079;
    font-size:50px;
    font-weight: bold;
    font-family: normal;
    text-transform: uppercase;
}
.txt::before {
    content: 'It's Player Time';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
.gradient{
    background: linear-gradient(14.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 190%;
    height:200%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,pink,green 20%) center / 25% 25%;
    position: absolute;
    top:-90%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}